.wr {
  position: relative;
  width: 60vw;

  margin: auto;
}

.wr__cont {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: #eee;
}

.wr__width {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.wr__height {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
